@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("../../public/fonts/Switzer-Variable.woff2") format("woff2"),
    url("../../public/fonts/Switzer-Variable.woff") format("woff"),
    url("../../public/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-heading: "Switzer", sans-serif;
  --shadow-image: 0px 3.2px 6.4px 0px rgba(0, 0, 0, 0.05);
}

body {
  background: #F9F9F9;
}
